*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #040275;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Open Sans', sans-serif;
}

#container{
    max-width: 108rem;
    margin: 15vh auto 0vh auto;
}

h1{
    text-align:center;
    margin-bottom: 15px;
    font-size: 2.5rem;
    font-weight: 600;
}

ul{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    list-style: none;
    font-size: 1.6rem;
}

li {
    display: flex;
    margin: 0 auto;
    width: 50rem;
    height: 6rem;
    background-color: #fbfd8a;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    position: relative;
}

li.closed{
    margin-bottom: 1rem;
}

li::after{
    border-top: 1px solid #040275;
    outline: 1rem solid #fbfd8a;
    height: 8rem;
    background-color: #fbfd8a;
    width: 48.05rem;
    font-weight: 300;
    padding-top: 10px;
    font-size: 1.4rem; 
    content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sint asperiores et quibusdam quod delectus est ex vitae eligendi praesentium?adipisicing elit.';
    position: absolute;
    top: 100%;
    left: 9.5px;
}

li.closed::after{
    display: none;
}


li.expanded{
    margin-bottom: 10rem;
}
li.expanded::after{
    display: block;
}

.logo{
    padding-top: 5px;
    height: 35px;
}

li object{
    pointer-events: none;
}